<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userdaoimpl" class="com.feng.Mapper.UserDaoImpl"/>
    <bean id="userdaomysqlimpl" class="com.feng.Mapper.UserDaoMysqlImpl"/>
    <bean id="userserviceimpl" class="com.feng.Service.UserServiceImpl">
        <property name="userDao" ref="userdaomysqlimpl"/>
    </bean>

</beans>